<li class="list-group-item" id="token-<%= personal_access_token.id %>">
  <h4 class="name"><%= personal_access_token.name %></h4>
  <span class="description" data-qa-selector="personal_access_token_text"><%= personal_access_token.value %></span>
  <span class="delete">
    <% if current_user?(personal_access_token.user) %>
      <%= link_to personal_access_token, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } do %>
        <i class="glyphicon glyphicon-trash pull-right"></i>
      <% end %>
    <% end %>
  </span>
</li>
