<footer class="footer">
  <small>
    <a href="https://www.gitlab.com">GitLab Junior</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://about.gitlab.com/blog/">Blog</a></li>
    </ul>
  </nav>
</footer>
